.message {
  position: absolute;
  top: 0;
  transform: translateX(50%);
  right: 50%;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.7rem;
  opacity: 0.7;
  &__error {
    background-color: rgb(238, 69, 69);
  }
  &__success {
    background-color: rgb(50, 169, 94);
  }
}
