.player {
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: lightblue;
    transition: 1s all ease;

    &_collapsed {
        transform: translateY(100%);
    }

    .info {
        width: 400px;
        margin: 0 20px;

        .name {
            font-size: 16px;
            color: #1976d2;
        }

        .artist {
            font-size: 14px;
        }

        .album {
            font-size: 12px;
            color: orange;
        }
    }

    .volume {
        margin-left: auto;
    }
}

.picture {
    width: calc(250px / 4);
    height: calc(250px / 4);
}

.collapse {
    position: absolute;
    right: 10px;
    top: -75%;
}