.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.imgHolder {
  margin: auto;
  width: 150px;
  height: 150px;
  // border: 3px solid black;
  border-radius: 5px;
  margin-top: 1rem;
}

.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.track_picture {
  margin: 10px;
  width: 225px;
  height: 225px;
}

.track_audio {
  margin: 10px;
}

// #input {
//   display: none;
// }

// .label {
//   width: 100%;
//   margin-top: 1rem;
//   display: flex;
//   justify-content: center;
// }

// .imageUpload {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: auto;
//   width: 200px;
//   height: 50px;
//   background-color: #1a1a1a;
//   color: #ddd;
//   border-radius: 10px;
//   text-align: center;
//   cursor: pointer;
// }
