.description {
    padding: 0 20px;
    width: 720px;
    height: 400px;

    :not(:last-child) {
        margin-bottom: 10px;
    }
}

.picture {
    margin: 10px;
    width: 225px;
    height: 225px;
}

.track {
    margin: 10px;
}