.description {
    padding: 0 20px;
    width: 720px;
    height: 180px;

    :not(:last-child) {
        margin-bottom: 10px;
    }
}

.picture {
    margin: 10px;
    width: 250px;
    height: 250px;
}